.board-wrapper {
    width: 100vw;
    height: 100vh;
    background: var(--dark-bg);
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.board-content-wrapper-main {
    position: relative;
    width: clamp(700px, 70vw, 1600px);
    aspect-ratio: 16 / 10;
    overflow: hidden;
    height: auto;
    padding: 1px;
   
}

.board-content-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    inset: 0;
    padding: 1px;
    background: white;
clip-path: polygon(0 71%, 0 53%, 0 11%, 6% 0, 100% 0, 100% 10%, 100% 100%, 60% 100%, 55% 96%, 49% 96%, 44% 100%, 0 100%);
    z-index: 2;
}

.board-content {
    background: black;
    inset: 0;
    height: 100%;
    display: grid;
    padding: 2em;
    padding-bottom: 1.9em;
  clip-path: polygon(0 71%, 0 53%, 0 11%, 6% 0, 100% 0, 100% 10%, 100% 100%, 60% 100%, 55% 96%, 49% 96%, 44% 100%, 0 100%);
}

.board-wrapper h1 {
    color: white;
}

.board-name-text {
    -webkit-text-stroke: 0.2px aquamarine;
    color: black;
    font-size: 2em;
    letter-spacing: 1px;
}

.board-upload-wrapper {
    position: relative;
    right: 0;
    top: 0;
    margin: 1em;
    width: 70%;
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
    border: 2px solid rgba(255, 255, 255, 0.63);
    background: rgba(0, 0, 0, 0.808);
    overflow: hidden;
}

.board-upload-wrapper::before {
    content: "";
    position: absolute;
    inset: -2px;
    background: linear-gradient(
        120deg,
        #e4fff39c,
        #2bcde2ad,
        #006336e1
    );
    background-size: 300% 300%;
    filter: blur(8px);
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 0;
}

.board-upload-wrapper:hover::before,
.board-upload-wrapper:focus-within::before {
    opacity: 1;
    animation: glowMove 4s linear infinite;
}

@keyframes glowMove {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 300% 50%;
    }
}

.board-input-container,
.add-pic-btn {
    position: relative;
    z-index: 1;
}

.board-input-container {
    width: 100%;
    height: 60%;
    padding: 0.7em;
    background: rgba(0, 0, 0, 0.945);
    color: white;
    border: none;
    font-size: 1em;
    font-family: "Geo";
    letter-spacing: 1px;
}

.add-pic-btn {
    border: none;
    padding: 1em;
    background: rgba(0, 0, 0, 0.548);
}

.empty-board-text {
    position: absolute;
    top: 50%;
    left: 40%;
    color: white;
    font-family: "Geo";
    font-size: 1.5em;
}

.side-boardName-deco {
    color: rgba(255, 255, 255, 0.055);
    position: absolute;
    right: -3.5em;
    bottom: 50%;
    font-size: 3em;
    letter-spacing: 0.4em;
    transform: rotate(-90deg);
}