:root {
    --title-txt: rgb(202, 202, 202);
    --main-txt-dm: rgb(182, 182, 182);
    --dark-bg: rgb(12, 12, 12);
}

.nav-wrapper {
    display: flex;
    padding: 0.5em;
    justify-content: space-between;
    align-items: center;
    background: var(--dark-bg);
    width: 100vw;
    height: 5%;
    color: var(--main-txt-dm);
    
}

.main-words-container {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-words-container p {
    font-family: "Geo";
    font-size: 1.2em;
    letter-spacing: 1px;
    opacity: 0;
    animation: txtFadeIn 1s ease-in forwards;
    animation-delay: 1.5s;
}

@keyframes txtFadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.title {
     font-family: "Offside";
    font-size: 4em;
    color: var(--title-txt);
    font-weight: 100;
    letter-spacing: 6px;
    line-height: 1.5;
    background: linear-gradient(rgb(187, 255, 196), white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: flex;
    justify-content: center;
    opacity: 0;
    animation: floatUp 0.8s ease-out forwards;
}

.title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 1px;
    width: 100%;
    background: white;
    transform: scaleX(0);
    transform-origin: left;
    animation: drawLine 0.6s ease-out forwards;
    animation-delay: 0.9s; 
}

@keyframes drawLine {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}

h2 {
    margin: 0;
}

.user-email {
    font-family: "Geo";
}

@keyframes floatUp {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}