:root {
    --title-txt: #cacaca;
    --main-txt-dm: rgb(182, 182, 182);
    --dark-bg: rgb(3, 3, 3);
    --secondary-dark-bg: rgb(15, 15, 15);
}

.nav-wrapper {
    display: flex;
    padding: 0.4em;
    justify-content: space-between;
    align-items: center;
    background: var(--dark-bg);
    width: 100vw;
    height: 5%;
    color: var(--main-txt-dm);
    
}

.user-logout-wrapper {
    display: flex;
    flex-direction: row;
    margin-right: 2em;
}

.user-email {
    letter-spacing: 1px;
    margin: 1em;
    
}



.user-email {
    font-family: "Geo";
}

@keyframes floatUp {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}